<div>
  <div class="data_add">
    <button type="submit" class="data_button" (click)="add(text_input.value)">Add</button>
    <label for="text_input">Text</label>
    <input #text_input id="text_input">
  </div>
  <div class="data_space"></div>
  <div class="data_view">
    <h2>
      <button class="data_button" (click)="search(search_criteria.value)">Search</button>
      <input #search_criteria id="search_criteria">
    </h2>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <ul *ngIf="(data) else noData">
      <li *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: p }">
        <button class="data_button" (click)="remove( item.id )">Delete</button>
        <span class="value">{{item.value}}</span>
      </li>
    </ul>
    <ng-template #noData>No Data Available</ng-template>
  </div>
</div>

