<div>
  <div class="data_view">
    <h2>
      <button class="data_button" (click)="refresh()" >Load</button>
    </h2>
    <ul *ngIf="(configurations) else noData">
      <li *ngFor="let item of configurations">
        <button class="data_button" (click)="update(item)">Update</button>
        <span class="value_heading">{{item.id}}: </span>
        <input class="value" value="{{item.properties}}"/>
      </li>
    </ul>
    <ng-template #noData>No Data Available</ng-template>

  </div>
</div>
