<div>
  <div class="data_view">
    <h2>
      <button class="data_button" (click)="refresh()" >Load</button>
    </h2>
    <ul *ngIf="(configurations) else noData">
      <li *ngFor="let item of configurations">
        <button class="data_button" (click)="update(item, text_input.value)">Update</button>
        <span for="text_input" class="value_heading">{{item.id}}: </span>
        <input #text_input id="text_input" class="value" value="{{item.properties}}"/>
      </li>
    </ul>
    <ng-template #noData>No Data Available</ng-template>

  </div>

  <div id="webconfigurations" class="web_configs">
    <label id="color_label" name="color_label">Change Background Color</label>
    <select #colorlist id="color" class="background" (change)="updateBackgroundColor(colorlist.value)">
      <option value="pink">Pink</option>
      <option value="blue">Blue</option>
      <option value="green">Green</option>
    </select>
  </div>
</div>
