.db_config {
  background-color: lavender;
  padding-bottom: 10px;
  padding-top: 5px;
}

.value_heading {
  font-weight: bold;
  margin-bottom: 10px;
}

.value {
  width: 5%;
  min-width: 35px;
  margin-bottom: 10px;
}

.web_configs {
  margin-top: 30px;
  background-color: lavender;
}

